html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fafbfd;
}

.header {
    background-color: #373A3C;
}

.header div img {
    height:200px;
}

.progress-bar, .progress {
    height: 7px;
}

.habilidades, .experiencia {
    min-height:600px;
}

.text-justify{
    text-align:justify;
}