<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portafolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portafolio.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <nav class="navbar navbar-dark bg-dark w-100">
           <div class="container">
                <div>
                    <a class="text-white fs-6 text-decoration-none" href="/">Portafolio</a>
                   </div>
                <div>
                    <a asp-action="Proyectos" asp-controller="Home" class="text-white fs-6 me-4 text-decoration-none">Proyectos</a>
                    <a asp-action="Contacto" asp-controller="Home" class="text-white fs-6 text-decoration-none">Contacto</a>
                </div>
           </div>
       </nav>
    </header>
    <div class="container-sm">
        <main role="main" class="pb-3 mt-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
