<header class="row header">
    <div class="col-3 p-3">
        <img class="w-100" src="https://www.techmadeplain.com/img/2014/300x200.png" />
    </div>
    <div class="col-9 text-white p-3">
        <h1 class="fw-normal mb-2 fs-2">Léster Cobón</h1>
        <h2 class="fw-normal mb-2 fs-4">Desarrollador web</h2>
        <p>
            Desarrollador especializado en tecnologias Net y Python.
        </p>
        @*  <a href="#" class="btn btn-outline-light">Sobre mi</a> *@
    </div>
</header>