@model IEnumerable<Proyecto>


@if (Model is not null)
{
    <section>
        <div class="text-center">
            <h1>Mis trabajos recientes</h1>
            <p>Aqui puedes ver algunos de mis trabajos recientes</p>
        </div>
        <partial name="_ListaProyectos" model="Model"/>
    </section>
}
