@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Proyectos";
}

<div class="container text-center">
    <h1>Mis proyectos</h1>
    <p>Aquí encontrarás todos los proyectos en los que he trabajado.</p>
</div>

<partial name="_ListaProyectos" model="Model" />